models/cv_dnn/opencv_face_detector_uint8.pb filter=lfs diff=lfs merge=lfs -text
models/cv_haar/haarcascade_eye.xml filter=lfs diff=lfs merge=lfs -text
models/cv_haar/haarcascade_frontalface_alt_tree.xml filter=lfs diff=lfs merge=lfs -text
models/cv_haar/haarcascade_licence_plate_rus_16stages.xml filter=lfs diff=lfs merge=lfs -text
models/cv_haar/haarcascade_lowerbody.xml filter=lfs diff=lfs merge=lfs -text
models/cv_dnn/opencv_face_detector.pbtxt filter=lfs diff=lfs merge=lfs -text
models/cv_dnn/res10_300x300_ssd_iter_140000.caffemodel filter=lfs diff=lfs merge=lfs -text
models/dlib/mmod_human_face_detector.dat filter=lfs diff=lfs merge=lfs -text
models/dlib/shape_predictor_68_face_landmarks.dat filter=lfs diff=lfs merge=lfs -text
models/cv_haar/haarcascade_eye_tree_eyeglasses.xml filter=lfs diff=lfs merge=lfs -text
models/cv_haar/haarcascade_frontalface2.xml filter=lfs diff=lfs merge=lfs -text
models/cv_haar/haarcascade_frontalface_alt2.xml filter=lfs diff=lfs merge=lfs -text
models/cv_haar/haarcascade_frontalface_alt.xml filter=lfs diff=lfs merge=lfs -text
models/cv_haar/haarcascade_fullbody.xml filter=lfs diff=lfs merge=lfs -text
models/cv_haar/haarcascade_profileface.xml filter=lfs diff=lfs merge=lfs -text
models/cv_haar/haarcascade_upperbody.xml filter=lfs diff=lfs merge=lfs -text
models/dlib/shape_predictor_5_face_landmarks.dat filter=lfs diff=lfs merge=lfs -text
models/cv_dnn/res10_300x300_ssd_deploy.prototxt filter=lfs diff=lfs merge=lfs -text
models/cv_haar/haarcascade_frontalface_default.xml filter=lfs diff=lfs merge=lfs -text
models/cv_haar/haarcascade_lefteye_2splits.xml filter=lfs diff=lfs merge=lfs -text
models/cv_haar/haarcascade_righteye_2splits.xml filter=lfs diff=lfs merge=lfs -text
models/cv_haar/haarcascade_russian_plate_number.xml filter=lfs diff=lfs merge=lfs -text
models/cv_haar/haarcascade_smile.xml filter=lfs diff=lfs merge=lfs -text
